<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-permission android:name="android.permission.CAMERA"/>

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyHipicAppTFG">

        <meta-data
            android:name="com.google.ar.core"
            android:value="required"/>

        <activity
            android:name=".ui.MenuFuncionalidadesActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.GestionUsuariosActivity"
            android:exported="false" />

        <activity
            android:name=".ui.UsuarioFormActivity"
            android:exported="false" />

        <activity
            android:name=".ui.GestionPistaActivity"
            android:exported="false" />

        <activity
            android:name=".ui.PistaFormActivity"
            android:exported="false" />

        <activity
            android:name=".ui.GestionEquinosActivity"
            android:exported="false" />

        <activity
            android:name=".ui.EquinoFormActivity"
            android:exported="false" />

        <activity
            android:name=".ui.GestionClasesActivity"
            android:exported="false" />

        <activity
            android:name=".ui.ClaseFormActivity"
            android:exported="false" />

        <activity android:name=".ui.GestionCompeticionesActivity"
            android:exported="false"/>
        <activity android:name=".ui.GestionPruebasActivity"
            android:exported="false"/>
        <activity android:name=".ui.PruebaFormActivity"
            android:exported="false"/>
        <activity android:name=".ui.CompeticionFormActivity"
            android:exported="false"/>

        <activity android:name=".ui.ParticipacionFormActivity"
            android:exported="false"/>
        <activity android:name=".ui.GestionParticipacionesActivity"
            android:exported="false"/>

        <activity android:name=".ui.ar.ARActivity"
            android:exported="false"/>

        <activity android:name=".ui.ar.ARMenuActivity"
            android:exported="false"/>

        <activity android:name=".ui.ar.QRScannerActivity"
            android:exported="false"/>

        <activity android:name=".ui.AdminMenuActivity"
            android:exported="false"/>


        <activity
            android:name=".ui.ReservaClaseActivity"
            android:exported="false" />

        <activity
            android:name=".ui.MisReservasActivity"
            android:exported="false" />

        <activity android:name=".ui.MisClasesProfesorActivity"
            android:label="Mis Clases" />

        <activity android:name=".ui.AlumnosDeClaseActivity"
            android:label="Alumnos de Clase" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" />

        <activity android:name=".ui.gps.RutasMenuActivity"
            android:exported="false"/>
        <activity android:name=".ui.gps.GrabarRutaActivity"
            android:exported="false"/>
        <activity android:name=".ui.gps.ListaRutasActivity"
            android:exported="false"/>
        <activity android:name=".ui.gps.SeguirRutaActivity"
            android:exported="false"/>

        <activity android:name=".ui.PruebasJuezActivity" />
        <activity android:name=".ui.ParticipantesPruebaActivity" />
        <activity android:name=".ui.PuntuacionActivity" />

        <activity android:name=".ui.MisPruebasActivity" />
        <activity android:name=".ui.RankingPruebaActivity" />
        <activity android:name=".ui.HojaCalificacionesActivity" />


    </application>



</manifest>