<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-permission android:name="android.permission.CAMERA"/>

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <!-- Para Android < 13 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyHipicAppTFG">

        <meta-data
            android:name="com.google.ar.core"
            android:value="required"/>

        <activity
            android:name=".ui.MenuFuncionalidadesActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.admin.usuarios.GestionUsuariosActivity"
            android:exported="false" />

        <activity
            android:name=".ui.admin.usuarios.UsuarioFormActivity"
            android:exported="false" />

        <activity
            android:name=".ui.admin.pistas.GestionPistaActivity"
            android:exported="false" />

        <activity
            android:name=".ui.admin.pistas.PistaFormActivity"
            android:exported="false" />

        <activity
            android:name=".ui.admin.equinos.GestionEquinosActivity"
            android:exported="false" />

        <activity
            android:name=".ui.admin.equinos.EquinoFormActivity"
            android:exported="false" />

        <activity
            android:name=".ui.admin.clases.GestionClasesActivity"
            android:exported="false" />

        <activity
            android:name=".ui.admin.clases.ClaseFormActivity"
            android:exported="false" />

        <activity android:name=".ui.admin.competiciones.GestionCompeticionesActivity"
            android:exported="false"/>
        <activity android:name=".ui.admin.competiciones.pruebas.GestionPruebasActivity"
            android:exported="false"/>
        <activity android:name=".ui.admin.competiciones.pruebas.PruebaFormActivity"
            android:exported="false"/>
        <activity android:name=".ui.admin.competiciones.CompeticionFormActivity"
            android:exported="false"/>

        <activity android:name=".ui.admin.competiciones.pruebas.participaciones.ParticipacionFormActivity"
            android:exported="false"/>
        <activity android:name=".ui.admin.competiciones.pruebas.participaciones.GestionParticipacionesActivity"
            android:exported="false"/>

        <activity android:name=".ui.ar.ar.ARActivity"
            android:exported="false"/>

        <activity android:name=".ui.ar.ARMenuActivity"
            android:exported="false"/>

        <activity android:name=".ui.ar.scanner.QRScannerActivity"
            android:exported="false"/>

        <activity android:name=".ui.admin.AdminMenuActivity"
            android:exported="false"/>


        <activity
            android:name=".ui.reservas.alumnos.ReservaClaseActivity"
            android:exported="false" />

        <activity
            android:name=".ui.reservas.alumnos.MisReservasActivity"
            android:exported="false" />

        <activity android:name=".ui.reservas.profesor.MisClasesProfesorActivity"
            android:label="Mis Clases" />

        <activity android:name=".ui.reservas.profesor.AlumnosDeClaseActivity"
            android:label="Alumnos de Clase" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" />

        <activity android:name=".ui.gps.RutasMenuActivity"
            android:exported="false"/>
        <activity android:name=".ui.gps.grabar.GrabarRutaActivity"
            android:exported="false"/>
        <activity android:name=".ui.gps.seguir.ListaRutasActivity"
            android:exported="false"/>
        <activity android:name=".ui.gps.seguir.SeguirRutaActivity"
            android:exported="false"/>

        <activity android:name=".ui.competiciones.juez.pruebas.PruebasJuezActivity" />
        <activity android:name=".ui.competiciones.juez.participantes.ParticipantesPruebaActivity" />
        <activity android:name=".ui.competiciones.juez.calificacion.PuntuacionActivity" />

        <activity android:name=".ui.competiciones.participantes.pruebas.MisPruebasActivity" />
        <activity android:name=".ui.competiciones.participantes.ranking.RankingPruebaActivity" />
        <activity android:name=".ui.competiciones.participantes.calificacion.HojaCalificacionesActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>


    </application>



</manifest>